.pdm-form{
	margin: 10px;
}

.pdm-content{
	margin: 10px;
}

.pdm-list__header{
	margin-bottom: 5px;
}

.pdm-list__header__title{
	font-weight: bold;
	font-size: 1.5em;
}

.pdm-item{
	margin: 1px;
	margin-bottom: 5px;
	border:  1px solid black;
}

.pdm-item__header{
	background-color: lightgrey;
	display: grid;
	padding: 5px;
	grid-template-columns: repeat(2, 1fr);
}

.pdm-item__body{
	padding: 5px;
	position: relative;
}

.pdm-item__original_model{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.pdm-item__original_model__title{
	grid-column:  1 / 3;
	font-weight: bold;
	font-size: 1.25em;
}
.pdm-item__original_model_single{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 2px;
}

.pdm-item__original_model_single__field{
	font-weight: bold;
}

.pdm-item__personal_data{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.pdm-item__personal_data__title{
	grid-column:  1 / 3;
	font-weight: bold;
	font-size: 1.25em;
}

.pdm-item__personal_data_single{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 2px;
	position: relative;
}

.pdm-item__personal_data_single__field{
	font-weight: bold;
}

.pdm-button{
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: 15px;
	padding: 3px 0 3px 21px;
}

.pdm-button_anonymize{
	background-image:  url(../../../system/themes/flexible/icons/delete.svg);
}

.pdm-button_export{
	background-image:  url(../../../system/themes/flexible/icons/store.svg);
}

.pdm-button_show{
	background-image:  url(../../../system/themes/flexible/icons/show.svg);
}

.pdm-loader{
	width: 100%;
	height: 100%;
	position: absolute;
	top:  0;
	left:  0;
	background-color: gray;
	opacity: 50%;
}